<!DOCTYPE html>

<html>

<head>
    <title>Add</title>
    <link rel="icon" href="/img/Miniyoutube.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <main data-page="add">
        {{>header}}
        <h2 class="underlined">Add video</h2>
        <form class="add-video" action="./videos" method="post" enctype="multipart/form-data">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholder="" required>
            <label for="tags">Tags</label>
            <input type="text" id="tags" name="tags" placeholder="">
            <label for="thumbnail">Thumbnail</label>
            <input type="file" id="thumbnail" name="thumbnail" accept="image/*" required>
            <label for="video">Video</label>
            <input type="file" id="video" name="video" accept="video/*" required>
            <label for="description">Description</label>
            <textarea id="description" name="description" placeholder="Write your description here..."></textarea>
            <button type="submit">Save</button>
        </form>
        {{>footer}}
    </main>

</body>

</html>