body {
    margin: 0;
    color: #333333;
    font-family: arial;
}
 
main {
    margin: 0 auto;
    max-width: 720px;
}
 
header {
    margin-top: 16px;
    margin-bottom: 48px;
}
 
header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
 
footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}
 
h1 {
    font-size: 64px;
    margin-bottom: 16px;
}
 
ul {
    padding: 0;
    list-style-type: none;
}

input, textarea {
    padding: 8px;
    border: 1px solid #cccccc;
}
 
.underlined {
    font-style: italic;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}
 
.portrait {
    width: 250px;
}
 
.search {
    width: 100%;
}

.search input {
    float: left;
    width: 80%;
}

.search button {
    width: 20%;
    padding: 8px;
    color: white;
    cursor: pointer;
    background: #888;
    border: 1px solid #888;
}
 
.card {
    display: flex;
    margin: 20px 0;
}

.card .thumbnail {
    width: 40%;
    cursor: pointer;
    border: 1px solid #888;
}

.card .details {
    width: 60%;
    padding: 0 2vh;
}

.card .details h2 {
    margin: 0;
}

.card .details p {
    color: #AAA;
    font-size: .75rem;
    margin: 2px 0 20px;
}

.rating img.like,
.rating img.dislike  {
    height: 20px;
}

.rating img.dislike {
    margin-top: 4px;
    margin-left: 10px;
    transform: scale(-1, -1);
    vertical-align: middle;
}

.rating img.btn-like,
.rating img.btn-dislike  {
    cursor: pointer;
    filter: invert(40%);
}

.rating img.btn-like:hover,
.rating img.btn-dislike:hover {
    filter: invert(0);
}

.rating span.like,
.rating span.dislike {
    font-size: .85rem;
}

video {
    width: 100%;
}

.details h1 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.details .date {
    color: #AAA;
    font-size: .75rem;
    margin: 0;
}

.details .tags { margin: 5px 0 30px }

.details .tags span  {
    padding: 2px 5px;
    font-size: .75rem;
    margin-right: 5px;
    border-radius: 3px;
    font-style: italic;
    background-color: #DDD;
}

.comments { margin-top: 35px; }

.comments form {
    display: flex;
    flex-direction: column;
}

.comments form input {
    margin-bottom: 10px;
}

.comments form textarea {
    resize: vertical;
    font-size: .85rem;
    font-family: inherit;
    margin-bottom: 10px;
}
 
.comments form button {
    width: max-content;
    align-self: end;
    color: white;
    padding: 8px 32px;
    cursor: pointer;
    background: #888;
    border: 1px solid #888;
}
 
.comment {
    margin-bottom: 40px;
}
 
.comment .date {
    color: #AAA;
    font-size: .75rem;
    font-style: italic;
}
 
form.add-video {
    display: flex;
    flex-direction: column;
}
 
form.add-video label {
    font-size: .9rem;
    font-weight: bold;
}
 
form.add-video input,
form.add-video textarea {
    margin: 5px 0 15px;
}
 
form.add-video input[type="file"] {
    padding: 0;
    border: none;
}
 
form.add-video textarea {
    resize: vertical;
    font-size: .85rem;
    font-family: inherit;
}
 
form.add-video button {
    width: max-content;
    color: white;
    padding: 8px 32px;
    cursor: pointer;
    background: #888;
    border: 1px solid #888;
}
 
.search button:hover,
.comments form button:hover,
form.add-video button:hover {
    background-color: black;
}